<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AscendingOrder" value="true"/>
		<add key="AdditionalInfo" value="false"/>
		<add key="ShowSortedData" value="true"/>
		<add key="ShowOriginalData" value="false"/>
		<add key="CompareAfterEveryUse" value="false"/>
	</appSettings>
</configuration>
